@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
main {
    padding: 16;
}
footer {
    padding: 19px;
    background-color: lightgreen;
    position: fixed;
    bottom: 0;
    width: 100%


}
img {
    height: 200;
}
nav {
    border-color: black;
    border: 1px;
    padding: 16px;
    border-bottom-style: solid;
    background-color: orange;
    width: 100%;
}
a:hover {
    color: green;
}
a {
    text-decoration: none;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

tr:nth-child(even) {
    background-color: lightgray;
}
